// img {
//   max-width: 100%;
//   min-width: 100%;
//   height: auto;
//   max-height: 50vh;
//   object-fit: cover;
// }

.divider-image {
  clip-path: polygon(0 0, 100% 8%, 100% 92%, 0% 100%);
  max-height: 50vh;
  &:first-child {
    clip-path: polygon(0 0, 100% 0, 100% 92%, 0 100%);
  }
}
