@import url('https://fonts.googleapis.com/css?family=Nunito+Sans:900|Nunito+Sans:400');

html {
  font-size: 125%;
} /*16px*/

body {
  background-color: $bodyBgColor;
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 400;
  line-height: 1.65;
  color: $bodyColor;
}

p {
  margin-bottom: 1.15rem;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 2.75rem 0 1.05rem;
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 900;
  line-height: 1.15;
}

h1 {
  margin-top: 0;
  font-size: 1.802rem;
}

h2 {
  font-size: 1.602rem;
}

h3 {
  font-size: 1.424rem;
}

h4 {
  font-size: 1.266rem;
}

h5 {
  font-size: 1.125rem;
}

small,
.text_small {
  font-size: 0.8rem;
}

a {
  color: inherit;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}
