@import 'variables';
@import 'utils';
@import 'typography';
@import 'splash';
@import 'images';
@import 'navigation';
@import 'equipment';
@import 'bio';
@import 'tables';
@import 'contact';
@import 'gallery';

html {
  scroll-behavior: smooth;
}

html,
body {
  margin: 0;
}

main {
  display: flex;
  flex-direction: column;
}

section {
  width: 80%;
  max-width: 1000px;
  margin: 0 auto;
  padding-bottom: 100px;
  padding-top: 70px;
  &.full-width {
    width: 100%;
    max-width: 100%;
    > :not(.embla) {
      margin-left: auto;
      margin-right: auto;
      width: 80%;
      max-width: 1000px;
    }
  }
}

footer {
  padding: 1rem;
  text-align: center;
}
